  .bmiForm{
    position: fixed;
    top: 13%;
    left: 35%;
    width: 25%;
    padding: 45px 25px 45px 25px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }

    .form-control{
      border: 2px solid black !important;
    }

    .btn{
      border: 1px solid black !important;
      width: -webkit-fill-available;
      margin-top: 5px;
    }

    .bmiHeading{
      text-align: center;
      font-weight: bold;
      font-size: larger;
    }

    #p1{
      font-size: 15px;
    }

    #short {
      width: 60%;
      display: inline;
      margin: 5% 3%;
    }

    .height {
      margin-left: 25%;
  }